@model Sample_MVC.Models.Notes

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>Notes</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="NotesId" />
            <div class="form-group">
                <label asp-for="NotesTitle" class="control-label"></label>
                <input asp-for="NotesTitle" class="form-control" />
                <span asp-validation-for="NotesTitle" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="NotesDescription" class="control-label"></label>
                <input asp-for="NotesDescription" class="form-control" />
                <span asp-validation-for="NotesDescription" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="NotesCreatedAt" class="control-label"></label>
                <input asp-for="NotesCreatedAt" class="form-control" />
                <span asp-validation-for="NotesCreatedAt" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

